
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    padding: 16px 0 ;
}

.hero {
    font-weight: bolder;
    font-size: 24px;
}

ul {
    display: flex;
    flex-direction: row;  
    gap: 8px;
    font-weight: lighter;
    margin: 0;
}

li {
    list-style: none;
}

.mainText{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
.headtext {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    align-items: start;
    justify-content: space-between;
    padding: 20px;
    margin-top: 16px;
    margin-left: 150px;
    block-size: auto;
    flex-wrap: wrap;
    width: 600px;
}

.secondaryText {
    font-size: 18px;
    font-weight: lighter;
    flex-wrap: wrap;
    word-break: break-all;
}

button {
  background-color: #3882f6;  
  color: #E5E7EB;
  border-radius: 4px;
  font-size: 18px;
  padding: 0 16px;
  margin: 16px 0;
}

.halfhead {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 16px;
    flex-shrink: 0;
    margin-top: 60px;
}

.container1 {
    color: #E5E7EB;
    left: 0;
    background-color: #1F2937;
    align-items: start;
    padding: 0px 50px 130px;

}

.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    padding: 50px 50px 100px;
}

.infoHeader{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.cards {
    display:flex ;
    flex-direction: row;
}

.card {
    display: flex;
    flex-direction:column;
    align-items: center;
}

img {
    width: 60%;
    height: auto;
    margin-top: 16px;
}


.container3 {
    display: flex;
    flex-direction:column ;
    align-items: center;
    margin:16px 0;
    gap: 16px;
    background-color: #E5E7EB;
    padding: 150px 100px;
    
}

.source {
    display: flex;
    margin-left: 280px;
}
.quote {
   font-size: 36px; 
   font-style: italic;
   font-weight: lighter;
   color: #1F2937;
}

.container4{
    background-color: #3882f6;
    margin: 100px 200px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 16px;
    padding: 40px;
    border-color: #f9faf8;
}

.signtext {
    display: flex;
    flex-direction: column;
    color: #f9faf8;
    padding-left: 8px;
    block-size: auto;
}




footer {
    background-color: #1F2937;
    color:#E5E7EB ;
    font-weight: lighter;
    display:flex;
    justify-content: center;
    align-items: center;  
    padding:40px 32px ;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-right: 0;
}